<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>SmartCalc Graphic</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'scripts/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .chart-container {
            width: 900px;
            height: 500px;
        }
    </style>
</head>
<body>
<div class="chart-container">
    <canvas id="myChart"></canvas>
</div>
<script>
    const data = JSON.parse('{{ data }}');
    new Chart("myChart", {
        type: "line",
        data: {
            labels: data[0],
            datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: data[1]
            }]
        },
        options: {
            legend: {display: false},
            scales: {
                yAxes: [{ticks: {min: -100, max: 2}}],
            },
            maintainAspectRatio: false
        }
    });
</script>
</body>
</html>
